.main__footer {
  background: #353535;
  color: white;
}
.footer__title img {
  filter: invert(100%);
  width: 10rem;
  padding: 20px;
}
.nav__footer {
  padding-bottom: 30px;
}
.nav__footer a{
  color: #fff;
  margin:0 0 10px 5px;
}
.nav__footer ul {
  margin: 0;
  padding-left: 20px;
  line-height: 2.5em;
}
.nav__footer i {
  padding-left: 5px;
}
.fa-handshake {
  transform: rotate(-45deg);
}
.fa-utensils {
  padding-right: 5px;
}