.howto__title {
  padding-left: 10px;
  @include desktop {
    position: absolute;
    top: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
}
.number {
  @include howto-number;
  @include tablet {
    right: 0;
    top: -15px;
  }
}
.howto__icon i {
  color: #b2b2b2;
  margin: 0 30px;
}
.howto {
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  @include desktop {
    padding: 0 20%;
  }
}
