.restaurant__title {
  @include tablet {
    width: 100%;
  }
}
.restaurant__title h3 {
  padding: 30px 0px 0px 10px;
  @include tablet {
    text-align: center;
  }
}
.card {
  @include card;
  @include tablet {
    width: 40%;
  }
}
.card img {
  @include card-img ;
}
.main__restaurant {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  @include tablet {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  @include desktop {
    padding: 0 20%;
  }
}
.heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card figure {
  @include card-figure;
}
.card figcaption {
  @include card-figcaption;
}
.heart h4 {
  margin: 0;
  font-size: 1.5rem;
}
