body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1rem;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style-type: none;
}
h2 {
  margin: 0;
}
h6 {
  margin: 0;
}
