@mixin maps {
  border: none;
  background: #eaeaea;
  font-size: 1rem;
  padding: 20px 5px 20px 5px;
  margin-top: 5px;
  text-align: center;
  width: 150px;
}
@mixin about {
  background: #f6f6f6;
  text-align: center;
  width: 100%;
  padding: 40px 0;
}
@mixin btn-about {
  background-image: $linear-gradient;
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 10px 5px;
  color: #fff;
  font-weight: bold;
  box-shadow: 4px 4px 6px #aaa;
  cursor: pointer;
}
@mixin howto-number {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-primary;
  color: #fff;
  border-radius: 50%;
  border: 2px solid $color-primary;
  width: 25px;
  height: 25px;
  position: relative;
  right: 10px;

}
@mixin howto-btn {
  margin: 0 20px 20px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #f6f6f6;
  border: 5px solid #f6f6f6;
  border-radius: 10px;
  box-shadow: 4px 4px 6px #fff;
  font-weight: bold;
  box-shadow: 4px 4px 6px #e9e9e9;
}
@mixin btn-card {
  color: #008766;
  background: $color-tertiary;
  border: 5px solid $color-tertiary;
  border-radius: 5px;
  position: absolute;
  right: 1%;
  top: 5%;
}
@mixin card {
  border-radius: 25px;
  box-shadow: 4px 4px 6px #aaa;
  margin: 20px;
  position: relative;
  background: #fff;
}
@mixin card-img {
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  height: 100%;
  max-height: 220px;
}
@mixin card-figure {
  margin: 0;
}
@mixin card-figcaption {
  margin: 0;
  padding: 10px;
}
@mixin menu-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin main-menu {
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  position: relative;
  margin-top: -50px;
}
@mixin menu-title {
  font-family: Shrikhand, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
@mixin meals {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
  &:hover {
    padding-right: 75px;
  }
  &:hover .cross {
    opacity: 1;
    transform: translate(-50px);
  }
  &:hover .fa-check-circle {
    transform: rotate(360deg) ;
  }
}

@mixin cross {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-tertiary;
  width: 50px;
  height: 63px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;
  & .fa-check-circle {
    color: #fff;
    transition: transform 500ms ease-in-out;
  }
}
@mixin tablet {
  @media screen and (min-width:map-get($breakpoints, tablet)){
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width:map-get($breakpoints, desktop)){
    @content;
  }
}
@mixin large {
  @media screen and (min-width:map-get($breakpoints, large)){
    @content;
  }
}

@mixin medium-screen {
  @media screen and (min-width: map-get($breakpoints, medium)) {
    @content;
  }
}