//Code couleur

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$linear-gradient:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
$fond-gris-footer: #353535;
$font-cursive: 'Shrikhand', cursive;
